# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#directorys
/out
/cmake-build-debug
/.vs
/CMakeFiles
/Debug
/LunaLuxEngineCoreLib.dir
/LunaLuxEnginePhysicsLib.dir
/TestGame.dir
/x64

#other
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.cmake
